// ----------------------------------------------------------------------------
// Variables > Grid
// ----------------------------------------------------------------------------
$container 			: 1170px;
$mobile 			: 480px;
$tablet 			: 768px;
$desktop 			: 1024px;
$content            : 738px;
$sidebar            : 200px;
$colWidth 			: 70px;
$colMargin 			: 30px;

// ----------------------------------------------------------------------------
// Variables > Colors
// ----------------------------------------------------------------------------
$colorPrimary		: #191919;
$colorSecondary		: #ffa800;
$colorTertiary		: #444846;
$colorTitle 		: #414141;
$colorText 			: #707070;
$colorDetail		: #e0e0e0;
$colorAlert			: #ff9d27;
$colorError			: #ff5656;
$colorSuccess		: #48ab54;
$colorDisabled		: #f0f0f0;

// ----------------------------------------------------------------------------
// Variables > Fonts
// ----------------------------------------------------------------------------
$fontPrimary		: "muliregular";
$fontPrimaryBold	: false; 
$fontSecondary		: false;
$fontSecondaryBold	: false;
$fontIcon 			: "icomoon";

// ----------------------------------------------------------------------------
// Variables > Font Size
// ----------------------------------------------------------------------------
$fontSizeDefault 	: 16px;
